<main>
  <div class="container">
    <div class="row mx-5 mb-2">
      <div class="d-flex">
        <div class="col-md-4 user-select-none"><h3>Employees</h3></div>
        <form class="d-flex col-md-3 offset-1">
          <input
            class="form-control me-2"
            type="text"
            placeholder="Search Employees"
            aria-label="Search"
            [(ngModel)]="listFilter"
            [ngModelOptions]="{ standalone: true }"
          />
        </form>
        <button
          type="button"
          routerLinkActive="active"
          routerLink="/add"
          class="btn btn-primary col-md-2 offset-2"
          style="width: 190px"
        >
          Add New Employee
        </button>
      </div>
    </div>

    <div *ngIf="listFilter" class="row m-2 justify-content-md-center">
      <div class="col-md-12">
        <h2>Filter by: {{ listFilter }}</h2>
      </div>
    </div>

    <div
      *ngIf="filteredEmployees.length; else elseBlock"
      class="row row-cols-auto justify-content-md-center"
    >
      <div class="col m-1" *ngFor="let Employee of pageOfItems">
        <div class="card">
          <div class="card-body">
            <div class="row row-cols-2">
              <div class="col">
                <h5 class="card-title text-capitalize">
                  {{ Employee.employee_name }}
                </h5>
                <p class="card-text">
                  Employee ID: {{ Employee.id }}
                  <br />
                  Age: {{ Employee.employee_age }} <br />
                  Salary: {{ Employee.employee_salary }}
                </p>
                <a
                  href="#"
                  class="btn btn-danger"
                  routerLinkActive="active"
                  [routerLink]="['/update', Employee.id]"
                  >Edit</a
                >
              </div>
              <div class="col">
                <img
                  [src]="Employee.profile_image"
                  class="img-thumbnail"
                  alt="Profile"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div><div class="pagination justify-content-center">
        <jw-pagination
          [items]="filteredEmployees"
          [pageSize]="9"
          (changePage)="onChangePage($event)"
        ></jw-pagination>
      </div>
    <div class="row text-center">
      <p><ng-template #elseBlock>No Employees to display</ng-template></p>
    </div>
  </div>
</main>
