<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ modal_title }}</h5>
    </div>
    <div class="modal-body">
      <form [formGroup]="formValue">
        <div class="mb-3">
          <label for="name" class="form-label"
            >Name<span style="color: red">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            [pattern]="'^[a-zA-Z \-\']*$'"
            required
          />
          <div class="error">
            <p
              *ngIf="
                (formValue.controls.name.touched ||
                  formValue.controls.name.dirty) &&
                (formValue.controls.name.value == '' ||
                  formValue.controls.name.value == null)
              "
            >
              Name is required
            </p>

            <p
              *ngIf="
                (formValue.controls.name.touched ||
                  formValue.controls.name.dirty) &&
                formValue.controls.name.invalid &&
                formValue.controls.name.value != null &&
                formValue.controls.name.value != ''
              "
            >
              Invalid Name
            </p>
          </div>
        </div>

        <div class="mb-3">
          <label for="age" class="form-label"
            >Age<span style="color: red">*</span></label
          >
          <input
            type="number"
            class="form-control"
            id="age"
            formControlName="age"
            min="18"
            max="100"
            required
          />
          <div class="error">
            <p
              *ngIf="
                (formValue.controls.age.touched ||
                  formValue.controls.age.dirty) &&
                formValue.controls.age.invalid &&
                formValue.controls.age.value != null
              "
            >
              Age must be greater than 18 and less than 100
            </p>
            <p
              *ngIf="
                (formValue.controls.age.touched ||
                  formValue.controls.age.dirty) &&
                formValue.controls.age.invalid &&
                formValue.controls.age.value == null
              "
            >
              Age is required
            </p>
          </div>
        </div>

        <div class="mb-3">
          <label for="salary" class="form-label"
            >Salary<span style="color: red">*</span></label
          >
          <input
            type="number"
            class="form-control"
            id="salary"
            formControlName="salary"
            min="1000"
            required
          />
          <div class="error">
            <p
              *ngIf="
                (formValue.controls.salary.touched ||
                  formValue.controls.salary.dirty) &&
                formValue.controls.salary.value == null
              "
            >
              Salary is required
            </p>
          </div>
        </div>

        <div class="mb-3">
          <label for="profilePic" class="form-label">Profile Picture</label>
          <input
            type="file"
            class="form-control"
            id="profilePic"
            formControlName="profilePic"
          />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        id="back"
        type="button"
        class="btn btn-secondary"
        routerLink="/welcome"
      >
        Back
      </button>
      <button
        type="button"
        (click)="postEmployee()"
        class="btn btn-primary"
        [disabled]="!(formValue.dirty && formValue.valid)"
      >
        Add
      </button>
    </div>
  </div>
</div>
